<h1>Welcome to readThis </h1>

<% if user_signed_in? %>
		<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
	<%else%>
		<%= link_to 'Sign up', new_user_registration_path %>
		<%= link_to 'Sign in', new_user_session_path %>
<% end %>


<% if @posts.empty? %>
	<p>No one has posted yet</p>
<%else%>
	<% @posts.each do |post| %>
		<ul>
			<li><%= post.text %></li>
		</ul>
	<% end %>
<% end %>