/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require css_reset
*/

border = 1px blue solid;

html{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

a{
	text-decoration: none;
}

.container{
	width:600px;
	overflow-y: auto;
	padding-top: 80px;
	margin: 0px auto;
	border: $border;
}

header{
	width:100%;
	height: 10%;
	background-color: #D0021B;
	position: fixed;
}

.nav{
	height:100%;
	width: 100%;
}

.nav_left{
	width: 49.8%;
	float: left;
	text-align: left;
}


.nav_right{
	width: 49.8%;
	float: right;
	text-align: right;
}

.nav_bottom{
	width: 100%;
	height: 40%;
	background-color: whitesmoke;
	box-shadow: 0.2,0.2,0.5,1;
}

.brand{
	color: white;
	font-family: helvetica;
	height: 50px;
	width: 180px;
	font-size: 36px;
	display: inline-block;
	position: relative;
	top: 20px;
	left:50px;
}

a.button_sign {
	width: 	120px;
	color: whitesmoke;
	padding: 4px 1px;
	border: 1px white solid;
	border-radius: 5px;
	margin: 0.5%;
	text-align: center;
	display: inline-block;
	position: relative;
	top: 20px;
	right: 25px;
}

.button_sign:hover{
	color: red;
	background-color: whitesmoke;
}

a.category_tab{
	font-family: arial;
	padding: 5px 10px;
	position: relative;
	top: 6px;
	color: rgba(72,72,72,1);
	margin: 0px;
}

a.category_tab:hover{
	color: rgba(256,256,256,1);
	background-color: rgba(200,200,200,1);
}


