<h1 class="title">Categories</h1>
<div>
<% @categories.each do |category| %>
	<%if Post_in(category)%>
			<li class="category_title" ><%= link_to category.tags, category_path(category)%></li>
	<%end%>
<%end%>
</div>