<%if @posts.any? %>
	<% post = @posts.first %>
	<h1 class="title"><%= post.category.tags %></h1>
	<% @posts.each  do |post| %>
		<ul>
			<li class='post'>
				<%= link_to post.title, post.url %>
			</li>
		</ul>
	<%end%>
<% else %>
	<p class="title">No posts in this category yet.</p>
<%end%>